* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: aqua;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 15px;
}